:root {
  --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.grid_container {
  cursor: pointer;
  background: var(--Dark-Desaturated-Blue-Card-BG);
  border-radius: 5px;
  max-width: 100%;
  height: 12rem;
  padding: 2rem 3rem;
}
.grid_container:hover {
  filter: brightness(120%);
  transition: all ease-in-out 0.3s;
}
.grid_container:nth-child(1n + 1) {
  margin-bottom: 2rem;
}
.cont_top,
.cont_down,
.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data aside {
  font-weight: 700;
}
.cont_down {
  align-items: flex-end;
}
.cont_top {
  color: var(--Desaturated-Blue-Text);
  margin-bottom: 15px;
}
.cont_top,
.cont_down p {
  font-weight: 700;
}
.cont_down p {
  color: var(--White-Text);
  font-size: 35px;
}
.green {
  color: #1eb589;
}
.red {
  color: #dc414c;
}
.mg {
  margin-right: 5px;
}
@media (min-width: 1000px) {
  .down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2rem 18rem;
    justify-content: center;
  }
  .grid_container {
    max-width: 100rem;
    height: 15rem;
    padding: 3rem 3rem;
  }
  .grid_container:nth-child(n + 1) {
    margin-bottom: 0;
  }
  .cont_top {
    color: var(--Desaturated-Blue-Text);
    margin-bottom: 30px;
  }
}
